# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
**/venv
**/__pycache__

# Build artifacts
dist
dist-ssr
*.local

# IDE settings
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Environment Variables
.env.local
.env.*.local

# Firebase
olynpicgolf-firebase-adminsdk-114c2-6abf1bf32d.json
backend/functions/__pycache__/main.cpython-310.pyc
